<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
	<h1>Detail</h1>
	<table>
		<tr>
			<th>myno</th>
			<td th:text="${dto.myno}">myno</td>
		</tr>
		<tr>
			<th>myname</th>
			<td th:text="${dto.myname}">myname</td>
		</tr>
		<tr>
			<th>mytitle</th>
			<td th:text="${dto.mytitle}">mytitle</td>
		</tr>
		<tr>
			<th>mycontent</th>
			<td><textarea cols="40" rows="10" readonly="readonly" th:text="${dto.mycontent}">mycontent</textarea> </td>
		</tr>
		<tr>
			<td colspan="2">
				<input type="button" value="수정하기" th:onclick="'location.href=\'' + @{/myboard/updateform(myno=${dto.myno})} + '\''">
				<input type="button" value="삭제하기" th:onclick="'location.href=\'' + @{/myboard/delete(myno=${dto.myno})} + '\''">
			</td>
		</tr>
	</table>
</body>
</html>