<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
	<form th:action="@{/myboard/insert}" method="post">
		<table>
			<tr>
				<th>mymane</th>
				<td><input type="text" name="myname"></td>
			</tr>
			<tr>
				<th>mytitle</th>
				<td><input type="text" name="mytitle"></td>
			</tr>
			<tr>
				<th>mycontent</th>
				<td><textarea cols="40" rows="10" name="mycontent"></textarea></td>
			</tr>
			<tr>
				<td colspan="2"><input type="submit" value="작성하기"></td>
			</tr>
		</table>
	</form>
</body>
</html>