<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">
	
	<bean id="tv" class="com.test07.TV" lazy-init="true"/> <!-- bean 생성 시점을 늦췄다. 호출(getBean)되는 순간 생성한다. -->
	<bean id="pc" class="com.test07.PC"/>
	
	

</beans>
