<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">
	
	
	<bean id="favoriteFood" class="com.test03.Food">
		<property name="name" value="고기"></property>
		<property name="price" value="20000"></property>
	</bean>
	<bean id="unFavoriteFood" class="com.test03.Food">
		<constructor-arg value="게맛살"/>
		<constructor-arg value="10000"/>
	</bean>
	
	<bean id="myFood" class="com.test03.MyFood" autowire="default"/>
	<!-- 
		byName : bean의 id와 같은 settet메소드에서 찾아서 자동으로 채워준다.
		constructor :  생성자의 parameter와 같은 bean을 찾아 주입, 같은 타입 빈이 2개 이상이면 파라미터의 이름으로 구분
		byType : settet의 파라미터 타입과 같은 bean을 찾아 주입 (unfavoriteFood 지우면 동작함.)
		default : 안채우고 그냥 만들어버리겠다. 자동주입x , 기본값
	 -->
	
	
	
	
	

</beans>



















