<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

	<bean id="fruit" class="com.test01.MessageBeanImpl"/>
	
	<bean id="apple" class="com.test01.MessageBeanImpl">
		<constructor-arg> 
			<value>apple</value>
		</constructor-arg>
		<constructor-arg value="10000"/>
			
	</bean>
	
	<bean id="mango" class="com.test01.MessageBeanImpl">
		<constructor-arg index="1" value="15000"/>
		<constructor-arg index="2" value="mango"/>
		<constructor-arg index="0" value="맛있다."/>	<!-- index로 순서를 맞춰줄 수 있다. -->
	</bean>		<!-- 코드가 심플해진다. -->
	
	
</beans>
