<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

	<bean id="lee" class="com.test03.Engineer">
		<constructor-arg value="이태욱"/>
		<constructor-arg value="2000000"/>
		<constructor-arg value="기술"/>
	</bean>
	
	<bean id="park" class="com.test03.Developer">
		<constructor-arg name="name" value="박태욱"/>
		<constructor-arg name="salary" value="2500000"/>
		<property name="dept" value="개발"></property>
	</bean>
</beans>
