<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
	<h1>JPA list</h1>
	<div>
		<table>
			<tr>
				<th>Myno</th>
				<th>Myname</th>
				<th>Mytitle</th>
				<th>Myndate</th>
			</tr>
			<tr th:if="${list.size()==0}">
				<td colspan="4">------------작성된 글이 존재하지 않습니다.------------</td> 
			</tr>
			<tr th:unless="${list.size()==0}" th:each="dto:${list}">
				<td th:text="${dto.myno}"></td>
				<td th:text="${dto.myname}"></td>
				<td><a th:href="|@{/board/detail}?myno=${dto.myno}|" th:text="${dto.mytitle}"></a></td>
				<td th:text="${dto.mydate}"></td>
			</tr>
			<tr>
				<td colspan="4">
					<input type="button" value="글작성" onclick="location.href='/board/insertform'"> <!-- 앞에 /를 붙여야 최상위 루트부터 시작한다. -->
				</td>
			</tr>
		</table>
	</div>
</body>
</html>