<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
	<h1>JPA Update</h1>
	<form action="/board/update" method="post">
		<!-- 타임 리프를 이용해 완성 -->
		<input type="hidden" name="myno" th:value="${dto.myno}">
		<table th:object="${dto}">
			<tr>
				<th>번호</th>
				<td th:text="*{myno}"></td>
			</tr>
			<tr>
				<th>이름</th>
				<td th:text="*{myname}"></td>
			</tr>
			<tr>
				<th>제목</th>
				<td><input type="text" name="mytitle" th:value=*{mytitle}></td>
			</tr>
			<tr>
				<th>내용</th>
				<td><textarea cols="40" rows="10" name="mycontent" th:text="*{mycontent}"></textarea></td>
			</tr>
			<tr>
				<td colspan="2">
					<input type="submit" value="수정">
				</td>
			</tr>
		</table>
	</form>
</body>
</html>