<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
	<h1>Member Insert</h1>
	<form action="/member/insert" method="post">
		<table>
			<tr>
				<th>아이디</th>
				<td><input type="text" name="memberid"></td>
			</tr>
			<tr>
				<th>비밀번호</th>
				<td><input type="text" name="memberpw"></td>
			</tr>
			<tr>
				<th>이름</th>
				<td><input type="text" name="membername"></td>
			</tr>
			<tr>
				<td colspan="2">
					<input type="submit" value="작성완료">
				</td>
			</tr>
		</table>
	</form>
</body>
</html>